/**
    Styling: General Network Panel
 */
#networkpanel {
  float: left;
  width: 1500px;
  height: 900px;
  border: 1px solid black;
  position: relative; }

/**
    Styling: Node Options
 */
.nodeshape {
  stroke: black;
  stroke-width: 1px;
  fill: #ffaaaa; }

.nodetext {
  font: 12px sans-serif; }

.link {
  stroke: #777777;
  stroke-width: 2px; }

/**
    Styling: Time Slider
 */
#slidecontainer {
  float: left;
  margin-top: 25px;
  margin-left: 375px;
  width: 750px; }

#timeSlider_label {
  position: relative;
  float: left;
  top: -19px;
  left: -135px; }

#timeSlider {
    left: 20px;
}

#slider_range {
  border: 0;
  color: #f6931f;
  font-weight: bold; }

.slider-container {
  background-color: #f2f2f9; }

.slider {
  position: absolute;
  border: 1px solid #AAB;
  background: #BCE;
  height: 100%;
  width: 58px;
  top: 0px;
  cursor: move;
  /*margin:-0.5px;*/ }

.slider .handle {
  position: absolute;
  height: 9px;
  width: 9px;
  border: 1px solid #AAB;
  background: #9AC;
  /* Support for bootstrap */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.slider .EE {
  right: -4px;
  cursor: e-resize; }

.slider .WW {
  cursor: w-resize;
  left: -4px; }

.slider .EE, .slider .WW {
  top: 50%;
  margin-top: -4px; }

.play-container .button {
  fill-opacity: 0.0;
  stroke: #AAB;
  stroke-width: 1.6; }

.play-container .play, .play-container .stop {
  fill: #BCE;
  stroke: #AAB;
  stroke-width: 1; }

/**
    Styling: Filter Options
 */
#form_filter {
  position: relative;
  float: left;
  width: auto;
  padding-left: 25px; }

.filter_ul {
  list-style: none; }

.filter_label_text {
  position: relative; }

.filter_label_layer {
  top: 14px;
  white-space: nowrap;
  position: absolute;
  text-align: left;
  transform-origin: bottom;
  transform: rotate(-90deg); }

.checkbox-container {
  padding-left: 45px;
  padding-top: 5px; }
