/**
    Styling: General Network Panel
 */

#networkpanel {
    width: 1500px;
    height: 900px;
    border: 1px solid black;
}


/**
    Styling: Node Options
 */

.nodeshape {
    stroke: black;
    stroke-width: 1px;
    fill: #ffaaaa;
}

.nodetext {
    font: 12px sans-serif;
}

.link {
    stroke: #777777;
    stroke-width: 2px;
}

/**
    Styling: Filter Options
 */

#form_filter {
    width: 200px;
    float: right;
}

.filter_ul {
    list-style: none;
}

#layer_4 { }

#layer_3 { }

.filter_label_text {
    position: relative;
}

.filter_label_layer {
    top: 14px;
    white-space: nowrap;
    position: absolute;
    text-align: left;
    transform-origin: bottom;
    transform: rotate(-90deg);
}

/**
    Styling: Time Slider
 */
#slidecontainer {
    margin-top: 25px;
    margin-left: 375px;
    width: 750px;
}

#timeSlider_label {
    position: relative;
    float: left;
    top: -19px;
    left: -135px;
}

#slider_range{
    border:0;
    color:#f6931f;
    font-weight:bold;
}