<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>D3 Network Graph - Project Task</title>
    <script type="text/javascript" src="../javascript/lib/d3.js"></script>
    <script type="text/javascript" src="../javascript/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../javascript/lib/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
</head>
<body>

<div id="networkpanel"> </div>

<form id="form_filter">
    <h3>Choose your filter options:</h3>
    <fieldset>
        <div class="filter_label_text">
            <p class="filter_label_layer" id="layer_5"> Layer 5 </p>
        </div>
        <div class="filterContainerLayer5"></div>
    </fieldset>
    <fieldset>
        <div class="filter_label_text">
            <p class="filter_label_layer" id="layer_4"> Layer 4 </p>
        </div>
        <div class="filterContainerLayer4"></div>

    </fieldset>
</form>

<div id="slidecontainer">
    <p id="timeSlider_label">
        <label for="slider_range">Time range:</label>
        <input type="text" id="slider_range" readonly>
    </p>

    <div id="timeSlider"> </div>
</div>


<script src="../javascript/slider.js"></script>
<script src="../javascript/d3Sandbox.js"></script>
<!--<script src="../javascript/checkbox.js"></script>-->
</body>
</html>


