<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>D3 Network Graph</title>
    <script type="text/javascript" src="../javascript/d3.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<form id="form_filter">
    <h3>Choose your filter options:</h3>
    <fieldset>
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="TCP">
                    TCP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="UDP">
                    UDP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="ICMP">
                    ICMP
                </label>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="HTTP">
                    HTTP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="SFTP">
                    SFTP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="DHCP">
                    DHCP
                </label>
            </li>
        </ul>
    </fieldset>
</form>
<script src="../javascript/d3Function.js"></script>
</body>
</html>