<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>D3 Network Graph - Project Task</title>
    <script type="text/javascript" src="../javascript/d3.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

<form id="form_filter">
    <h3>Choose your filter options:</h3>
    <fieldset>
        <div class="filter_label_text">
            <p class="filter_label_layer" id="layer_5"> Layer 5 </p>
        </div>
        <ul class="filter_ul">
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="DNS"> DNS
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="HTTP"> HTTP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer5" value="FTP"> FTP
                </label>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <div class="filter_label_text">
            <p class="filter_label_layer" id="layer_4"> Layer 4 </p>
        </div>
        <ul class="filter_ul">
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="ICMP"> ICMP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="TCP"> TCP
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox" name="layer4" value="UDP"> UDP
                </label>
            </li>
        </ul>
    </fieldset>
</form>

<div id="networkpanel">

</div>

<script src="../javascript/d3Function.js"></script>
</body>
</html>